/* .bgimage{
    
    background:url('http://i0.kym-cdn.com/photos/images/original/000/051/726/17-i-lol.jpg?1318992465') no-repeat;
   
    filter: blur(13px);  
    z-index: 0;
}
.bg-txt{
    position: absolute;
} */